body {
  color: #414141;               /* Dark gray */
  background-color: #AA2020;    /* Light gray */
}

strong {
  background-color: #B2D6FF;
  display: block;   /* Light blue */
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

.synopsis {
  color: #FF90E3;
  font-style: italic;
}

.projects {
  color: #50AB72;
  font-style:oblique;
}

a:link {
  color: yellow;
  text-decoration: none;
}

a:visited {
  color: green;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: orange;
}

ol {
position: fixed;
top:0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
}

* {
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
}

@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

@media only screen and (min-width: 961px) {
  body {
    background-color: #123456; /* Blue */
  }
}
